From: {{ .From }}
To: {{ .Recipients }}
Subject: {{ .Subject }} 
MIME-version: 1.0;
Content-Type: text/html; charset="UTF-8";

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>{{ .Subject }}</title>
</head>
<body>
    {{ .Body }}
</body>
</html>